<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Teachers Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'UserProfile.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- bootsrap icons cdn link  -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    
    <!-- jquery CDN link  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
    .social-icons a {
            margin-right: 10px;
        }

    .custom-text {
           font-family: 'Merriweather', serif;;
        }

    .custom-text111{
            font-family: 'Merriweather', serif;
            font-size: 25px;
            font-weight: bold;
         }
     .custom-text11{
            font-family: 'Merriweather', serif;
            font-size: 40px;
            font-weight: bold;
         }
    .space{
            margin-inline-end: 5px;
        }
    .space-btn{
            margin-inline-end: 1px;
        } 
    .container {
        position: relative;
        top: 47px; /* Adjust this value to move the container down */
    }
    .custom-bg {
            background-color: #5E8ED6;
        }
    
</style>

<body>
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <div class="profile-card-4 z-depth-3">
                    <div class="card">
                        <div class="card-body text-center custom-bg rounded-top">
                            <div class="user-box ">
                                <img src="{{Teacher.img.url}}" alt="user avatar">
                            </div>
                            <span class="badge badge-success custom-text"><i class="fas fa-user-graduate"></i> Teacher Portal</span>
                            <h5 class="mb-1 text-white custom-text">{{Teacher.user.first_name}} {{Teacher.user.last_name}}</h5>
                            <h6 class="text-light">{{Student.department}}</h6>
                            
                            <h3 class="text-light text-danger custom-text">University Of Okara</h3>
                                <!-- <button class="btn btn-danger">Appriciate</button>
                                <button class="btn btn-success">Message</button> -->
                        </div>
                        
                        <div class="card-footer text-center social-icons">
                                <a href=""><i class="mr-2 fa-brands fa-facebook"></i></a>
                                <a href=""><i class="mr-2 fa-brands fa-github"></i></i></a>
                                <a href=""><i class="mr-2 fa-brands fa-google"></i></a>
                                <a href=""><i class="mr-2 fa-brands fa-square-instagram"></i></a>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card z-depth-3">
                    <div class="card-body">
                        <ul class="nav nav-pills nav-pills-primary nav-justified">
                            <li class="nav-item">
                                <a href="javascript:void();" data-target="#profile" data-toggle="pill"
                                    class="nav-link active show"><i class="icon-user"></i> <span
                                        class="hidden-xs custom-text">Profile</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void();" data-target="#messages" data-toggle="pill"
                                    class="nav-link"><i class="icon-envelope-open"></i> <span
                                        class="hidden-xs custom-text">Messages</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i
                                        class="icon-note"></i> <span class="hidden-xs custom-text">Edit</span></a>
                            </li>
                        </ul>
                        <div class="tab-content p-3">
                            <div class="tab-pane active show" id="profile">
                                <h2 class="mb-3 custom-text"> <small> </small> {{Teacher.designation}}</h2>
                                <div class="mb-3 d-flex justify-content-center">
                                    <h3 class="custom-text11">
                                        <small>Subject</small>
                                        <u>{{ Teacher.subject }}</u>
                                    </h3>
                                </div>
                                
                                <div class="row">
                                   
                                    <div class="col-md-8">
                                        <hr>
                                        <form action="{% url 'teacher' %}" method="POST" id="Check-attendance">
                                            {% csrf_token %}
                                            <h5 class="mt-2 mb-3 custom-text111">Mark Attendance</h5>
                                            <div class="d-flex align-items-center mb-3">
                                                <select class="form-select border-1 semester1 space" name="semester" aria-label="Default select example" style="margin-right: 5px;">
                                                    <option selected>Semester</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                </select>
                                                <select class="form-select border-1 space" name="subject" aria-label="Default select example" style="margin-right: 5px;">
                                                    <option selected>Subject</option>
                                                    {% for subject in Subjects %}
                                                    <option value="{{ subject.id }}">{{ subject.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <input type="number" placeholder="Enter lecture number" name="lecture" class="form-control" style="width: 100%; margin-right: 10px;">
                                                <button type="submit" class="btn btn-info" style="width: 100%; margin-right: 10px;">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                    
                                    
                                    
                                    
                                    <!-- <div class="col-md-1"></div> -->
                                    <div class="col-md-12">
                                        <div style="border: 1px solid grey; border-radius: 10px; padding: 7px;">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Lacture</th>
                                                        <th scope="col">Subject</th>
                                                        <th scope="col">Student name</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="attendance-details">
                                                    {% for attendence in Attendence_details %}
                                                    <tr>
                                                        <th scope="row">{{attendence.lacture}}</th>
                                                        <td>{{attendence.subject.name}}</td>
                                                        <td>{{attendence.student.user.first_name}}
                                                            {{attendence.student.user.last_name}}
                                                        </td>
                                                        <td>
                                                            {% if attendence.status %}
                                                                Present
                                                            {% else %}
                                                                Absent
                                                            {% endif %}
                                                        </td>
                                                        <!-- <td></td> -->
                                                        <td>
                                                            <button type="button" id="P-{{attendence.student.id}}"
                                                            onclick="MarkStudentAttendence({{attendence.student.id}},{{attendence.lacture}}, {{attendence.subject.id}}, {{attendence.smester}}, 'P' )" 
                                                            class="btn 
                                                            {% if attendence.status %}
                                                                btn-success
                                                            {% else %}
                                                                btn-outline-primary
                                                            {% endif %}
                                                            ">P</button>
                                                            
                                                            <button type="button" id="A-{{attendence.student.id}}"
                                                            onclick="MarkStudentAttendence({{attendence.student.id}},{{attendence.lacture}}, {{attendence.subject.id}}, {{attendence.smester}}, 'A')" 
                                                            class="btn 
                                                            {% if not attendence.status %}
                                                                btn-danger
                                                            {% else %}
                                                                btn-outline-danger
                                                            {% endif %}
                                                            ">A</button>
                                                        </td>
                                                      </tr>
                                                      {% endfor %}
                                                      
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                           <script>
                                    function getCSRFToken() {
                                            var cookies = document.cookie.split(';');
                                            for (var i = 0; i < cookies.length; i++) {
                                                var cookie = cookies[i].trim();
                                                if (cookie.startsWith('csrftoken=')) {
                                                    return cookie.substring('csrftoken='.length, cookie.length);
                                                }
                                            }
                                            return null;
                                        }

                                    function MarkStudentAttendence(std_id, lacture, sub_id, smester, lable){
                                        console.log('ID', std_id)
                                        console.log('Lacture', lacture)
                                        console.log('sub id', sub_id)
                                        console.log('smester', smester)
                                        console.log('lable', lable)
                                        var csrfToken  = getCSRFToken()
                                        $.ajax({
                                            type: "POST",
                                            url: '/markAttendence/',
                                            data: {
                                                'csrfmiddlewaretoken': csrfToken ,
                                                'std_id':std_id,
                                                'lable': lable,
                                                'lacture':lacture,
                                                'sub_id':sub_id,
                                                'smester':smester,

                                            },
                                            success: function (data) {
                                                if(lable==='P'){
                                                    $(`#P-${std_id}`).removeClass('btn-outline-primary')
                                                    $(`#P-${std_id}`).addClass('btn-success')
                                                    
                                                    $(`#A-${std_id}`).removeClass('btn-danger')
                                                    $(`#A-${std_id}`).addClass('btn-outline-danger')
                                                }
                                                else{
                                                    $(`#P-${std_id}`).removeClass('btn-success')
                                                    $(`#P-${std_id}`).addClass('btn-outline-primary')
                                                    
                                                    $(`#A-${std_id}`).removeClass('btn-outline-danger')
                                                    $(`#A-${std_id}`).addClass('btn-danger')
                                                }
                                            }
                                        })
                                    }

                                
                            
                           </script>

                            <div class="tab-pane" id="messages">
                                {% for app in Applications %}
                                <div class="alert alert-info alert-dismissible" role="alert">
                                    <!-- <button type="button" class="close" data-dismiss="alert">×</button> -->
                                    <div class="alert-icon">
                                        <i class="icon-info"></i>
                                    </div>
                                    <div class="alert-message d-flex justify-content-between">
                                        <span>
                                            <strong>{{app.application.student.user.first_name}}-
                                                    {{app.application.student.roll_no}}</strong><br>
                                                    {{app.application.title}} 
                                                    <a class="icon-link" href="#" id="show-btn-{{app.application.student.id}}" onclick="showMessage({{app.application.student.id}})">
                                                        show message
                                                        <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
                                                      </a>

                                                    <br><p class="visually-hidden" id="message-{{app.application.student.id}}">{{app.application.message}}</p>
                                                </span>
                                                    <div>
                                                            
                                            <button type="button" onclick="handleRequests({{app.application.id}}, 'R')" class="btn btn-outline-danger">Reject</button>
                                            <button type="button" onclick="handleRequests({{app.application.id}}, 'A')" class="btn btn-outline-success">Accept</button>
                                        </div>
                                        
                                    </div>
                                </div>
                                {% endfor %}
                                <script>
                                    function showMessage(std_id){
                                        console.log("press on key")
                                        $(`#message-${std_id}`).toggleClass('visually-hidden')
                                    }

                                    function handleRequests(app_id, lable){
                                        csrfToken = getCSRFToken();
                                        $.ajax({
                                            type:"POST",
                                            url: '/accept_Reject_Applications/',
                                            data:{
                                                'csrfmiddlewaretoken': csrfToken,
                                                'app_id':app_id,
                                                'lable':lable,
                                            },
                                            success:function(data){
                                                console.log(data)
                                            }
                                        })
                                        
                                    }
                                </script>
                                <table class="table table-hover table-striped">
                                    <tbody>
                                        {% if chats %}
                                            {% for chat in chats %}
                                            <tr>
                                                <td>
                                                    <strong>{{chat.user.username}}</strong><br>
                                                    <span class="float-right font-weight-bold">{{chat.datetime}}</span>
                                                    {{chat.message}}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="edit">
                                <form method="post" action="{% url 'updateStudentProflie' %}">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Full name</label>
                                        <div class="col-lg-5">
                                            <input class="form-control" name="fname" type="text" value="{{Student.user.first_name}}" placeholder="First name">
                                        </div>
                                        <!-- <label class="col-lg-2 col-form-label form-control-label">First name</label> -->
                                        <div class="col-lg-4">
                                            <input class="form-control" name="lname" type="text" value="{{Student.user.last_name}}" placeholder="Last name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Semester</label>
                                        
                                        <div class="col-lg-9">
                                        <select class="form-select form-control" name="semester" aria-label="Default select example">
                                            <option value="" {% if not Student.semester %}selected{% endif %}>Open this select menu</option>
                                            <option value="1" {% if Student.smester == 1 %}selected{% endif %}>1</option>
                                            <option value="2" {% if Student.smester == 2 %}selected{% endif %}>2</option>
                                            <option value="3" {% if Student.smester == 3 %}selected{% endif %}>3</option>
                                            <option value="4" {% if Student.smester == 4 %}selected{% endif %}>4</option>
                                            <option value="5" {% if Student.smester == 5 %}selected{% endif %}>5</option>
                                            <option value="6" {% if Student.smester == 6 %}selected{% endif %}>6</option>
                                            <option value="7" {% if Student.smester == 7 %}selected{% endif %}>7</option>
                                            <option value="8" {% if Student.smester == 8 %}selected{% endif %}>8</option>
                                          </select>
                                        </div> 
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Roll No</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" name="roll" type="text" value="{{Student.roll_no}}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">CGPA</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" name="cgpa" type="number" step="0.01"  value="{{GPA.gpa}}">
                                        </div>
                                    </div>
                                   
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Change profile</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" name="profileImg" type="file">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">CNIC</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" name="cnic" type="text" value="{{Student.cnic}}" placeholder="CNIC without dashes">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-5 mt-1">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-9 ">
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                                    <hr>
                                    
                                    <form  method="post">
                                        {% csrf_token %}
                                    <div class="form-group row ">
                                        <label class="col-lg-3 col-form-label form-control-label">Old Password</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" name="oldPass" type="password" value="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">New Password</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" name="NewPass" type="password" value="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Confirm
                                            password</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" name="Cpass" type="password" value="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-9">
                                            <!-- <input type="reset" class="btn btn-secondary" value="Cancel"> -->
                                            <button type="submit" class="btn btn-primary" >Update Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>

</html>